<div id="voc">
  <a {% if request.vocabid == '' and request.page != 'feedback' and request.page != 'about' %}{% endif %} {% if request.vocabid != '' or request.page == 'feedback' or request.page == 'about' %}class="service-{{ request.lang }}" {% endif %}href="{{ request.lang }}/{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}{% if request.queryParam('anylang') == 'on' %}{% if request.contentLang == request.lang %}?{% else %}&{% endif %}anylang=on{% endif %}"><img src="resource/pics/vocabs.svg"></a>
</div>

<div id="navigation">
    <a href="{{ request.lang }}/{% if request.contentLang and request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}{% if request.queryParam('anylang') == 'on' %}{% if request.contentLang == request.lang %}?{% else %}&{% endif %}anylang=on{% endif %}" id="navi1" class="navigation-font" >
    {% trans "Vocabularies-nav" %}
    </a>
    <a href="{{ request.lang }}/about{% if request.contentLang and request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}{% if request.queryParam('anylang') == 'on' %}{% if request.contentLang == request.lang %}?{% else %}&{% endif %}anylang=on{% endif %}" id="navi2" class="navigation-font">
    {% trans "About page" %}
    </a>
    <a href="{% if request.vocabid and vocab.title%}{{ request.vocabid }}/{% endif %}{{ request.lang }}/feedback{% if request.contentLang and request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}{% if request.queryParam('anylang') == 'on' %}{% if request.contentLang == request.lang %}?{% else %}&{% endif %}anylang=on{% endif %}" id="navi3" class="navigation-font">
    {% trans "Feedback" %}
    </a>
    <a href="/swagger/index.html" id="navi5" tabindex="0" class="navigation-font">{% trans "For Developers" %}</a>
    <span id="navi4" tabindex="0" title="{% trans "helper_help" %}<br /><br />{% trans "search_example_text" %}">
      <span class="navigation-font">{% trans "Help" %}</span>
    </span>
</div>

<div id="language"class="flex items-center">
  <div id="list-app">
    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
      <img src="resource/pics/apps-black-18dp.svg">
    </a>
    {# <span class="ripple"></span> #}
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li class="flex"><a class="dropdown-item" href="https://sceiba.cu/"><img src="resource/pics/sceiba.svg" alt=""></a></li>
      <hr>
      <div class="flex justify-between">
          <li><a class="dropdown-item" href="https://sceiba.cu/"><img src="resource/pics/catalog.svg" alt=""></a></li>
          <li><a class="dropdown-item" href="https://sceiba.cu/"><img src="resource/pics/organizacion.svg" alt=""></a></li>
          <li><a class="dropdown-item" href="https://sceiba.cu/"><img src="resource/pics/vocabs.svg" alt=""></a></li>
      </div>
      <hr>
      <li class="flex"><a class="dropdown-item" href="https://sceiba.cu/"><img src="resource/pics/mes.svg" alt=""></a></li>
    </ul>
  </div>
  <div id="language1" class="dropdown">
    <button type="button" id = "id_lang" class="btn btn-default dropdown-toggle navigation-font" data-toggle="dropdown">{{ request.lang | lang_name(request.lang) }}<span class="caret"></span></button> 
    {#<a class="dropdown-toggle" href="#" role="button" id="id_lang" data-toggle="dropdown" aria-expanded="false">
      {{ request.lang | lang_name(request.lang) }}
    </a>#}
    {# <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="id_lang"> #}
    <ul class="dropdown-menu flex-column" aria-labelledby="id_lang">
    {% for langcode, langdata in languages %}
    {% if request.lang != langcode %}
    <li><a id="language-{{ langcode }}" class="versal" href="{{ request.langurl|replace({("#{request.lang}/"): "#{langcode}/"}) }}"> {{langdata.lemma}}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
  </div>

</div>

<!-- top-bar ENDS HERE -->
